@import "../Styles/_theme.scss";

Chat {
    width: 450px;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    font-size: $text-md;
    font-family: $font;
    justify-content: flex-end;
    padding: 4px;

    .output {
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        gap: 5px;

        .entry {
            padding: 2px;
            gap: 8px;
            text-shadow: 2px 2px 2px #000a;
            align-items: center;

            .avatar {
                width: 32px;
                height: 32px;
                background-position: center;
                background-size: cover;
                border-radius: 100px;
            }

            .author {
                color: $primary;
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: bold;
            }

            .message {
                color: #fff;
            }
        }
    }

    .input {
        color: white;
        height: 0px;
    }

    &.open {
        pointer-events: all;
        background-image: linear-gradient( to right, rgba( black, 0.9 ), transparent );

        .input {
            height: 42px;
        }
    }
}
