@import "../Styles/_theme.scss";

$item-height: 50px;
$item-padding: 4px 16px;

Chat {
    width: 450px;
    flex-direction: column-reverse;
    align-items: stretch;
    font-size: $text-md;
    font-family: $font;
    justify-content: flex-end;
    padding: 4px;
    gap: 4px;

    .output {
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-end;
        gap: 5px;

        .entry {
            padding: $item-padding;
            height: $item-height;
            gap: 8px;
            align-items: center;
            flex-grow: 0;

            .avatar {
                width: 32px;
                height: 32px;
                background-position: center;
                background-size: cover;
                border-radius: 100px;
            }

            .author {
                color: $primary;
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: bold;
            }

            .message {
                color: #fff;
            }
        }
    }

    .input {
        color: white;
        height: $item-height;
        padding: $item-padding;
        width: 100%;
        border-image: url( /ui/Panel/panel-009.png ) 12 fill;
        border-image-tint: $background;

        .placeholder {
            padding: 0;
            opacity: 1;
        }

        .label {
            padding: 0;
        }
    }

    &.open {
        pointer-events: all;
    }
}
