@inherits PanelComponent

<root>
    <div class="canvas">
        <div class="top">
            <div class="left">
                @* elements *@
            </div>

            <div class="right">
                <Chat />
            </div>
        </div>

        <Toast />

        <div class="bottom">
            <div class="left">
                @* elements *@
            </div>

            <div class="right">
                @* elements *@
            </div>
        </div>
    </div>
</root>
