@using System
@using Sandbox

@inherits PanelComponent
@namespace HC2

@if (!DrawHud)
    return;

<root>
    <div class="canvas">
        <div class="top">
            <div class="left">
                <Chat />
            </div>

            <div class="middle">
                <Compass />
            </div>

            <div class="right">
                @* elements *@
            </div>
        </div>

        <div class="bottom">
            <div class="left">
                <div class="column gap">
                    <TeamVitals />
                    <Vitals />
                </div>
            </div>

            <div class="right">
                <NotificationPanel />
            </div>
        </div>

        <InventoryUI />
    </div>

    @* <Toast /> *@

    <BuildingOverlay />

    <StatUpgradesPanel />

    <Crosshair />
</root>

@code {
    [ConVar("hc2_drawhud")]
    public static bool DrawHud { get; set; } = true;

    protected override int BuildHash()
    {
        return HashCode.Combine(DrawHud);
    }
}
