@inherits PanelComponent
@namespace HC2

<root>
    <div class="canvas">
        <div class="top">
            <div class="left">
                @* elements *@
            </div>

            <div class="middle">
                <Compass />
            </div>

            <div class="right">
                <Chat />
            </div>
        </div>

        <div class="bottom">
            <div class="left">
                @* elements *@
            </div>

            <div class="right">
                @* elements *@
            </div>
        </div>
    </div>

    <Crosshair />
</root>
