@using Sandbox
@using Sandbox.UI

@inherits Panel
@attribute [StyleSheet]

@{
    var experience = Player.Local?.Experience;
    if (!experience.IsValid()) return;

    float experiencePerc = 100f * (experience.Points / (float)experience.MaxPoints);

    var health = Player.Local?.HealthComponent;
    if (!health.IsValid()) return;

    float healthPerc = 100f * (health.Health / (float)health.MaxHealth);
}

<root class="column">
    @foreach ( var teammate in Scene.GetAllComponents<Player>().Where( x => x != Player.Local ) ) 
    {
        <div class="vital">
            @if ( !IsTooManyPeople )
            {
                <div class="avatar-container">
                    <img class="avatar" src="avatar:@teammate.Network.OwnerConnection.SteamId" />
                </div>
            }

            <column>
                <row>
                    <label class="small">@teammate.CharacterName.ToUpper()</label>
                    <Donut Value="@(experiencePerc)" size="24" InnerText="@($"{experience.Level}")" />
                </row>

                <ProgressBar Value="@(healthPerc)" />
            </column>
        </div>
    }
</root>

@code {
    private Connection Connection => Player.Local?.Network.OwnerConnection;
    public string PlayerName => Player.Local?.CharacterName ?? "";
    public string AvatarUrl => $"avatar:{Connection.SteamId}";

    public bool IsTooManyPeople => Scene.GetAllComponents<Player>().Count() > 4;

    protected override int BuildHash() => System.HashCode.Combine(Scene.GetAllComponents<Player>().Count(), Player.Local?.Experience?.Points, PlayerName, Player.Local?.HealthComponent?.Health);
}
