@using System
@using HC2
@inherits PanelComponent

@{
	if (!Inventory.IsValid()) return;
}

<root>
	<div class="container">
		@for (var i = 0; i < Inventory.MaxSlots; i++)
		{
			var item = Inventory.GetItemInSlot(i);
			<div class="slot">
				@if (item?.IsValid() ?? false)
				{
					<div class="item" style="background-image: url(@item.Resource.Icon);">

					</div>
				}
			</div>
		}
	</div>
</root>

@code
{
	public Inventory Inventory => Player.Local?.Inventory;

	protected override int BuildHash()
	{
		var hc = new HashCode();
		var inventory = Inventory;

		hc.Add(inventory);

		if (inventory.IsValid())
		{
			foreach (var item in inventory.GetAllItems())
			{
				hc.Add(item);
			}
		}

		return hc.ToHashCode();
	}
}
