@import "../Styles/_theme.scss";

Toast {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 400px;
    align-items: center;
    justify-content: center;

    &:outro {
        opacity: 0;
    }
}

.item {
    width: 600px;
    height: 85px;
    top: 300px;
    font-family: $font;
    font-size: $text-md;
    color: white;
    padding: 15px 30px;
    border: $border;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    backdrop-filter: $blur;
    border-image-tint: $background;
    mask: $fade-horizontal;
    border-image: url( /ui/Panel/panel-001.png ) 20 fill;
}

column {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;

    > label {
        margin-top: -2px;
        margin-bottom: -2px;
    }
}

divider {
    height: 100%;
    width: 96px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url( /ui/Divider Fade/divider-fade-004.png );
    mask: linear-gradient( to right, transparent, white 75% ) alpha;

    &.divider-left {
    }

    &.divider-right {
        transform: rotate( 180deg );
    }
}
