@using Sandbox
@using Sandbox.UI

@inherits Panel
@attribute [StyleSheet]

<root>
    <div class="item">
        <divider class="divider-left"></divider>

        <column>
            <label class="small">LOCATION DISCOVERED</label>
            <label class="large">Location Name</label>
        </column>

        <divider class="divider-right"></divider>
    </div>
</root>
