@using Sandbox;
@using Sandbox.UI;

@inherits PanelComponent
@namespace HC2

<root>
    <div class="canvas">
        <div class="column grow center"
	        <CharacterSelect OnSelect=@(() => GameObject.Destroy()) />
        </div>
    </div>
</root>

@code
{

}
