@import "../Styles/_theme.scss";

CharacterSelectModal
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    pointer-events: all;

    .canvas
    {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}