@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]
@implements INavigatorPage
@namespace HC2

<root>
	<div class="canvas">
        <div class="column justify-center">
            <label class="title">
                Characters
            </label>

		    <CharacterSelect OnSelect=@(() => MenuRoot.Instance.Navigate("/")) />
        </div>
	</div>
</root>

@code
{
}
