@import "../../Styles/_theme.scss";

CraftingMenu
{
    position: absolute;
    right: 0;
    top: 15%;
    height: 85%;
    width: 400px;
    max-width: 400px;
    font-family: Glegoo;
    flex-direction: column;
    pointer-events: all;
    gap: 16px;

    > div
    {
        padding: 4px;
        border-image: url( /ui/Transparent center/panel-transparent-center-001.png ) 16 fill;
        border-image-tint: $background;
    }

    color: white;

    .list
    {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: scroll;

        .group
        {
            flex-shrink: 0;
            
            .header
            {
                background-color: rgba(black, 0.2);
                align-items: center;
                border-image: url( /ui/Transparent center/panel-transparent-center-001.png ) 16 fill;
                border-image-tint: rgba( white, 0.02 );
                flex-shrink: 0;
            }

            .recipes
            {
                gap: 8px;
                padding: 8px;
            }
        }
    }

    .selected-item
    {
        height: auto;
        gap: 8px;
        flex-shrink: 0;

        .header
        {
            max-height: 64px;
            align-items: center;
            gap: 8px;
            flex-shrink: 0;
        }

        .requirements
        {
            gap: 8px;
            flex-shrink: 0;

            .entry
            {
                border-image-tint: rgba( white, 0.02 );
                border-image: url( /ui/Transparent center/panel-transparent-center-015.png ) 10 fill;
                max-height: 32px;
                align-items: center;
                gap: 16px;
                flex-shrink: 0;
            }
        }

        img
        {
            aspect-ratio: 1;
            height: 100%;
            background-size: contain;
            background-color: rgba(black, 0.2);
        }
    }

    .column
    {
        flex-direction: column;
    }
}

CraftingMenuEntry
{
    padding: 8px;
    height: 82px;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    border-image: url( /ui/Transparent center/panel-transparent-center-015.png ) 10 fill;
    border-image-tint: rgba( white, 0.05 );

    img
    {
        aspect-ratio: 1;
        height: 100%;
        background-size: contain;
        background-color: rgba(black, 0.2);
    }

    .info
    {
        padding: 8px;
        flex-direction: column;
        gap: 4px;
        justify-content: center;

        .name
        {
            font-size: 20px;
            font-weight: 600;
            flex-shrink: 0;
            flex-shrink: 0;
        }

        .desc
        {
            flex-grow: 1;
            text-overflow: ellipsis;
        }
    }

    &.active
    {
        background-color: rgba(black, 0.3);
    }

    &.disabled:not(.active)
    {
        background-color: rgba(black, 0.1);
    }

    &.disabled.active
    {
        background-color: rgba(black, 0.2);
    }

    &:hover:not(.disabled)
    {
        background-color: rgba(black, 0.3);
    }
}