@using System
@using Sandbox
@using Sandbox.UI
@using HC2
@attribute [StyleSheet]

@inherits Panel

<root class="row gap">
    <img src="@Item.Icon" />
    <div class="column gap">
        <label class="large">@Item.Name</label>
        <label class="small">@Item.Description</label>
    </div>
</root>

@code
{
    public ItemAsset Item { get; set; }
    public Action<ItemAsset> OnSelect { get; set; }

}
