@import "../../Styles/_theme.scss";

InventoryUI
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: flex-end;

    .container
    {
        position: absolute;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 16px;
    }

    .canvas
    {
        position: absolute;
        bottom: $safe-zone-y;
        left: $safe-zone-x;
        right: $safe-zone-x;
        justify-content: center;
        align-items: flex-end;
        pointer-events: none;
    }

    .inventory
    {
        position: absolute;
        border-image: url( /ui/Transparent center/panel-transparent-center-001.png ) 16 fill;
        border-image-tint: $background;
        width: 800px;
        flex-wrap: wrap;
        top: 60%;
        opacity: 0;
        gap: 16px;
        justify-content: space-evenly;
        align-items: center;
    }

    CraftingMenu
    {
        right: -100%;
        opacity: 0;
        pointer-events: none;
        transition: right 0.1s, opacity 0.1s;
    }

    &.visible
    {
        pointer-events: all;
        background-color: rgba( white, 0.01 );
        backdrop-filter: blur(10px);

        .inventory
        {
            opacity: 1;
        }

        ItemSlot
        {
            pointer-events: all;
        }

        CraftingMenu
        {
            right: 0%;
            opacity: 1;
            pointer-events: all;
        }
    }

    ItemSlot, DummyItem
    {
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border-image-tint: rgba( white, 0.02 );
        border-image: url( /ui/Transparent center/panel-transparent-center-015.png ) 10 fill;
        position: relative;

        &.hovered-item
        {
            border-image-tint: darken( white, 0.6 );
        }

        .item
        {
            background-size: cover;
            width: 48px;
            height: 48px;
            pointer-events: none;
        }

        opacity: 1;

        &.being-dragged
        {
            .item
            {
                opacity: 0.15;
            }
        }

        .amount
        {
            left: -4px;
            top: -10px;
            position: absolute;
            color: white;
            text-shadow: 1px 1px 1px black;
        }

        .durability-bar
        {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            background-color: rgba( black, 0.5 );

            .fill
            {
                height: 100%;
                background-color: white;
            }
        }

        &.active
        {
            border-image-tint: rgba( white, 1 );
            transform: scale( 1.1 );
        }
    }

    DummyItem
    {
        transform: scale( 2 );
        position: absolute;
        border-image-tint: transparent;
        background-color: rgba( white, 0 );
    }
}
