@import "../../Styles/_theme.scss";

InventoryUI
{
    position: absolute;
    bottom: $safe-zone-y;
    left: $safe-zone-x;
    right: $safe-zone-x;
    top: 0;
    justify-content: center;
    align-items: flex-end;

    .container
    {
        position: absolute;
        flex-direction: row;
        backdrop-filter: blur(4px);
        justify-content: space-evenly;
        gap: 16px;
    }

    .inventory
    {
        position: absolute;
        background-color: rgba( black, 0.5 );
        backdrop-filter: blur(4px);
        width: 800px;
        height: 270px;
        flex-wrap: wrap;
        top: 60%;
        opacity: 0;
        gap: 16px;
        padding: 16px;
        justify-content: space-evenly;
        align-items: center;
    }

    &.visible
    {
        pointer-events: all;

        .inventory
        {
            opacity: 1;
        }

        ItemSlot
        {
            pointer-events: all;
        }
    }

    ItemSlot, DummyItem
    {
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border-image-tint: $background;
        border-image: url( /ui/Panel/panel-015.png ) 11 fill;
        position: relative;

        &.hovered-item
        {
            border-image-tint: darken( white, 0.6 );
        }

        .item
        {
            background-size: cover;
            width: 48px;
            height: 48px;
            pointer-events: none;
        }

        opacity: 1;

        &.being-dragged
        {
            .item
            {
                opacity: 0.15;
            }
        }

        .amount
        {
            left: -4px;
            top: -10px;
            position: absolute;
            color: white;
            text-shadow: 1px 1px 1px black;
        }

        &.active
        {
            border-image-tint: rgba( white, 1 );
            transform: scale( 1.1 );
        }
    }

    DummyItem
    {
        transform: scale( 2 );
        position: absolute;
        border-image-tint: transparent;
        background-color: rgba( white, 0 );
    }
}
