@using Sandbox.UI
@namespace HC2
@inherits Panel

<root tooltip=@((Item?.IsValid() ?? false) ? Item.Resource.Name : "")>
    @if (Item?.IsValid() ?? false)
    {
        <div class="item" style="background-image: url(@(Item?.Resource?.GetIcon() ?? "")); background-tint: @((Item?.Resource?.GetIconColor() ?? Color.White).Hex);">
            @if (Item.Resource.MaxStack > 1)
            {
                <label class="amount">@Item.Amount</label>
            }
            @if (Item.Durability < Item.Resource.MaxDurability)
            {
                <div class="durability-bar">
                    <div class="fill" style="width: @(Item.Durability / Item.Resource.MaxDurability * 100)%" />
                </div>
            }
        </div>
    }
</root>

@code
{
    public Item Item { get; set; }
    public int SlotIndex { get; set; }
    public Inventory Inventory { get; set; }

    protected override void OnMouseOver(MousePanelEvent e)
    {
        base.OnMouseOver(e);

        AddClass("hovered-item");

        if (InventoryUI.HoveredSlot != this)
            InventoryUI.HoveredSlot = this;
    }

    protected override void OnMouseOut(MousePanelEvent e)
    {
        base.OnMouseOut(e);

        RemoveClass("hovered-item");

        if (InventoryUI.HoveredSlot == this)
            InventoryUI.HoveredSlot = null;
    }

    protected override int BuildHash() => System.HashCode.Combine(Item?.Amount, Item?.Durability);
}
