@using Sandbox.UI
@using HC2
@inherits Panel

<root>
    @if (Item?.IsValid() ?? false)
    {
        <div class="item" style="background-image: url(@Item.Resource.Icon);">
            @if (Item.Resource.MaxStack > 1)
            {
                <label class="amount">@Item.Amount</label>
            }
        </div>
    }
</root>

@code
{
    public Item Item { get; set; }
    public int SlotIndex { get; set; }
    public Inventory Inventory { get; set; }


    protected override void OnMouseOver(MousePanelEvent e)
    {
        base.OnMouseOver(e);

        AddClass("hovered-item");

        if (TestHotbar.HoveredSlot != this)
        {
            TestHotbar.HoveredSlot = this;
        }
    }


    protected override void OnMouseOut(MousePanelEvent e)
    {
        base.OnMouseOut(e);

        RemoveClass("hovered-item");

        if (TestHotbar.HoveredSlot == this)
        {
            TestHotbar.HoveredSlot = null;
        }
    }

    protected override int BuildHash() => System.HashCode.Combine(Item?.Amount);
}
