@using Sandbox.UI
@using HC2
@inherits Panel

<root>
    @if (Item?.IsValid() ?? false)
    {
        <div class="item" style="background-image: url(@Item.Resource.Icon);">
            <label class="amount">@Item.Amount</label>
        </div>
    }
</root>

@code
{
    public Item Item { get; set; }
    public int SlotIndex { get; set; }

    protected override int BuildHash() => System.HashCode.Combine(Item?.Amount);
}