
@import "../../Styles/_theme.scss";

TestHotbar
{
    position: absolute;
    bottom: $safe-zone-y;
    left: $safe-zone-x;
    right: $safe-zone-x;
    top: 0;
    justify-content: center;
    align-items: flex-end;

    .container
    {
        padding: 16px;
        position: absolute;
        flex-direction: row;
        background-color: rgba( black, 0.5 );
        backdrop-filter: blur(4px);
        justify-content: space-evenly;
        gap: 16px;
    }

    .inventory
    {
        position: absolute;
        background-color: rgba( black, 0.5 );
        backdrop-filter: blur(4px);
        width: 800px;
        height: 270px;
        flex-wrap: wrap;
        top: 60%;
        opacity: 0;
        gap: 16px;
        padding: 16px;
        justify-content: space-evenly;
        align-items: center;
    }

    &.visible
    {
        pointer-events: all;

        .inventory
        {
            opacity: 1;
        }

        ItemSlot
        {
            pointer-events: all;
        }
    }

    ItemSlot, DummyItem
    {
        cursor: pointer;
        background-color: gray;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border-image-tint: rgba( black, 0.5 );
        border-image: url( /ui/Panel/panel-001.png ) 11 fill;
        position: relative;

        &.hovered-item
        {
            border-image-tint: darken( green, 0.7 );
            background-color: rgba( green, 1 );
        }

        .item
        {
            background-size: cover;
            width: 48px;
            height: 48px;
            pointer-events: none;
        }

        .amount
        {
            left: -4px;
            top: -10px;
            position: absolute;
            color: white;
            text-shadow: 1px 1px 1px black;
        }

        &.active
        {
            border-image-tint: darken( red, 0.7 );
            background-color: rgba( red, 1 );
        }
    }

    DummyItem
    {
        position: absolute;
    }
}
