{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Collide",
    "ignore_players": "Collide",
    "pickup": "Collide",
    "resource_node": "Collide",
    "bodypart": "Unset",
    "worlditem": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "ignore_players",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "pickup",
      "r": "Trigger"
    },
    {
      "a": "pickup",
      "b": "resource_node",
      "r": "Ignore"
    },
    {
      "a": "pickup",
      "b": "pickup",
      "r": "Trigger"
    },
    {
      "a": "bodypart",
      "b": "bodypart",
      "r": "Ignore"
    },
    {
      "a": "bodypart",
      "b": "worlditem",
      "r": "Ignore"
    },
    {
      "a": "worlditem",
      "b": "worlditem",
      "r": "Trigger"
    }
  ],
  "__guid": "55bf6298-5cb8-4d2e-bafc-9f1742b5699a",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}