{
  "Version": 2,
  "Mixers": {
    "Guid": "c9a6eb5c-bb03-4c71-bdfb-f4ca2ca9d4cb",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Processors": [],
    "Children": [
      {
        "Guid": "6fe45f49-1c45-432f-842b-f918fd90e948",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "d7966190-3fd1-48c2-880f-3c16eb9250c5",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "98fc40ac-ec29-41ca-9ac9-42995c57ac32",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "5e6c5c6b-e4bd-451e-a0e7-1ed1c16a44be",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "f0a0d628-1d3d-4517-a076-1ebcd15078ac",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}