MobNametag
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-image: url( "/ui/Transparent center/panel-transparent-center-015.png" ) 13 fill;
	
	ProgressBar
	{
		height: 100%;
	}
}