@import "../Styles/_theme.scss";

RootPanel
{
	justify-content: center;
	align-items: center;
}

Nametag {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: $font;
	color: white;

	label {
		font-size: 38px;
		max-width: 380px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	row {
		flex-direction: row;
		align-items: center;
		width: 100%;
		justify-content: flex-start;
		gap: 8px;

		label.small {
			margin-bottom: 4px;
		}
	}

	column {
		flex-direction: column;
		backdrop-filter: $blur;
		border-image-tint: $background;
		border-image: url( /ui/Transparent center/panel-transparent-center-015.png ) fill;
		mask: $fade-to-black;
		padding-right: 64px;
		justify-content: space-between;
		gap: 8px;
		height: auto;
	}
}