$safe-zone-x: 50px;
$safe-zone-y: 25px;

$font: Glegoo;
$primary: #2B88FF;

$blue: #2B88FF;
$red: #FF2B00;
$green: #44FF2B;
$yellow: #FFB52B;

$text-md: 16px;
$text-sm: 12px;
$text-lg: 20px;

$background: rgba( black, 0.75 );
$blur: blur( 0px );
$rounding: 4px;
$border: 0px solid rgba( black, 0.1 );
$shadow: 0 5px 50px rgba( black, 0.25 );

$fade-horizontal: linear-gradient(to right, #ffffff00, #ffffffbb 20%, #ffffffee 40%, #ffffffee 60%, #ffffffbb 80%, #ffffff00 ) alpha;

.glass-panel {
    background-color: $background;
    backdrop-filter: $blur;
    border-radius: $rounding;
    border: $border;
    box-shadow: $shadow;
}

label, text {
    font-size: 16px;

    &.small {
        font-size: 12px;
    }

    &.large {
        font-size: 20px;
    }
}

.glass-panel.fade {
    mask: $fade-horizontal;
}