@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@namespace HC2

<root>
    <div class="canvas">
        <div class="column">
            <div class="title">
                HC2
            </div>

            <div class="column gap" style="width: 256px;">
                <a class="button" href="/">Return</a>
            </div>
        </div>

        <div class="grow center">
            <div>Not implemented yet</div>
        </div>
    </div>
</root>

@code
{
}
