@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@namespace HC2

<root>
    <div class="canvas">
        <div class="column">
            <div class="title">
                HC2
            </div>

            <div class="column gap" style="width: 256px;">
                @if (MenuRoot.Instance?.IsPauseMenu ?? false)
                {
                    <div class="button" onclick=@ResumeButton>Resume</div>
                    <a class="button @(!Sandbox.Networking.IsHost ? "inactive" : "")" href="/worlds">Save World</a>
                }
                else
                {
                    <a class="button" href="/worlds">Play</a>
                }
                <a class="button" href="/characters">Characters</a>
                <div class="button" @onclick="@(() => Quit() )">@((MenuRoot.Instance?.IsPauseMenu ?? false) ? "Quit to Main Menu" : "Quit")</div>
            </div>
        </div>
    </div>
</root>

@code
{
    void Quit()
    {
        if (MenuRoot.Instance?.IsPauseMenu ?? false)
        {
            Scene.LoadFromFile("scenes/menu.scene");
        }
        else
        {
            Game.Close();
        }
    }

    void ResumeButton()
    {
        PauseMenu.Instance.IsOpen = false;
    }
}
