@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@namespace HC2

<root>
    <div class="canvas">
        <div class="column">
            <div class="title">
                HC2
            </div>

            <div class="column gap" style="width: 256px;">
                <div class="button" @onclick="@(() => Play() )">Play</div>
                <a class="button" href="/characters">Characters</a>
                <div class="button" @onclick="@(() => Quit() )">Quit</div>
            </div>
        </div>
    </div>
</root>

@code
{
    void Quit()
    {
        Game.Close();
    }

    async void Play()
    {
        bool joined = await global::Networking.TryJoinLobby();
        if ( !joined )
        {
            var sceneFile = ResourceLibrary.Get<SceneFile>("scenes/mob_testbed.scene");
            Scene.Load( sceneFile );
        }
    }
}
