@import "../Styles/_theme.scss";

MenuRoot
{
    pointer-events: none;
    opacity: 0;
    display: none;

    &.open
    {
        pointer-events: all;
        display: flex;
        opacity: 1;
    }
}

MenuRoot 
{
    opacity: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;

    &:not(.pause) {
        > .background {
            background-image: url("https://files.facepunch.com/CarsonKompon/2024/August/hc2-temporary-background.png");
        }
    }

    &.pause {
        > .background {
            backdrop-filter: blur(10px);
        }
    }

    > .background {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(white, 0.02);
        background-size: cover;
        background-position: center;
    }

    > .navigator-canvas {
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        z-index: 100;
    }

    .navigator-body {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;

        &.hidden {
            display: none;
        }
    }
}

// Any game page will have these CSS classes
.navigator-body
{
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    font-family: Glegoo;

    .canvas
    {
        margin: 32px;
    }

    .grow
    {
        flex-grow: 1;
    }

    .center
    {
        justify-content: center;
        align-items: center;
    }
}
